@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e2021; /* Main background */
  --foreground: #171717; /* Text color */
  --kanban-column-bg: #272a2b; /* Kanban columns background */
  --table-border: #424245; /* Table border color */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  border: 1px solid var(--table-border);
  background: transparent; /* Make table transparent */
}